---
import VersionHeader from "./VersionHeader.astro";
import PhaseCard from "./PhaseCard.astro";

import directus from "$services/directus";
import { readItem, type Query } from "@directus/sdk";
import type { Schema, Version } from "$types/collection";
import ChronicleCard from "./ChronicleCard.astro";

let { vId, game } = Astro.props;
let version = await directus.request(
  readItem("versions", vId, {
    fields: [
      "id",
      "semVer",
      "name",
      "special_version",
      "tags",
      {
        events: [
          "*",
          { phase: ["*"] },
          {
            featured_characters: [
              "id",
              "spec",
              {
                characters_id: [
                  "*",
                  { splash_art: ["*"] },
                  { splash_pad: ["*"] },
                  { events: [{ events_id: ["id", "startDate"] }] },
                  {
                    signature: ["*"],
                  },
                ],
              },
            ],
          },
          {
            featured_weapons: [
              {
                weapons_id: ["*"],
              },
            ],
          },
        ],
      },
    ],
  } as Query<Schema, Version>)
);
---

<section
  class="@container size-full grow flex flex-col gap-3 bg-white p-2 sm:p-4 shadow-md max-w-7xl"
>
  <VersionHeader {version} {game} />

  <div
    class="h-full grow flex flex-col gap-3 md:grid md:grid-cols-2 lg:gap-5 w-full"
  >
    {
      typeof version.events != "string" &&
        version.events!.map((event: any) => {
          if (event.event_tags == null) {
            return <PhaseCard {event} {game} />;
          } else if (version.special_version) {
            if (version.tags?.includes("fate collab")) {
              return (
                <PhaseCard
                  {event}
                  {game}
                  class="fate col-span-full"
                  four="false"
                />
              );
            }
          } else if (event.event_tags.includes("chronicled wish")) {
            return <ChronicleCard {event} class="col-span-full" {game} />;
          }
        })
    }
  </div>
</section>
