---
import { tv } from "tailwind-variants";
import ProxyService from "$services/imgproxy";
import directus from "$services/directus";
import { readItem } from "@directus/sdk";

const { weapon, class: className } = Astro.props;

let placeholder: any = await directus.request(
  readItem(
    "weapons",
    weapon.game,
    //@ts-ignore
    { fields: ["*", "icon.filename_disk", "full.filename_disk"] }
  )
);

const iconPath = weapon.icon
  ? `/${weapon.icon.filename_disk}`
  : `/${placeholder.icon.filename_disk}`;
const fullPath = weapon.full ? `/${weapon.full.filename_disk}` : `/`;

const icon = ProxyService.getImage(iconPath, [], "webp");
const full = ProxyService.getImage(
  fullPath,
  [
    {
      key: "crop",
      params: [0.9, 0.9],
    },
  ],
  "webp"
);

const weaponCard = tv({
  slots: {
    base: "@container-[size] relative size-full min-h-16 min-w-16 overflow-clip before:absolute before:-inset-1 before:bg-black before:bg-[image:var(--overlay),var(--bgFull)] before:bg-cover before:bg-center before:blur-xs before:content-['']",
    outline: "absolute inset-1 z-10 rounded-xs border-2",
    box: "absolute inset-0 flex size-full items-center justify-center p-2 @7xs:justify-between @squarish:justify-center @squarish:bg-linear-130 @landscape-aspect:flex-row-reverse @landscape-aspect:bg-linear-90 @portrait-aspect:flex-col @portrait-aspect:bg-linear-0",
    image: "aspect-square h-full object-contain p-1",
    name: "p-2 text-center font-heading text-[0.5rem] font-semibold @max-7xs:hidden @3xs:text-sm @xs:text-base @sm:text-lg @squarish:hidden @portrait-3xs:text-sm @portrait-xs:text-base @portrait-sm:text-lg",
  },
  variants: {
    rarity: {
      5: {
        base: "bg-accent-gold-800/30",
        box: "from-accent-gold-600",
        outline: "border-accent-gold-300",
        name: "text-accent-gold-200",
      },
      4: {
        base: "bg-accent-purple-800/30",
        box: "from-accent-purple-600",
        outline: "border-accent-purple-300",
        name: "text-accent-purple-200",
      },
    },
  },
});

const vars = {
  "--bgFull": `url("${full}")`,
  "--bgIcon": `url("${icon}")`,
  "--overlayColor": `oklch(from var(${weapon.rarity == 5 ? "--color-accent-gold-800" : "--color-accent-purple-800"}) l c h / .5)`,
  "--overlay": `linear-gradient(var(--overlayColor),var(--overlayColor))`,
};

const { base, outline, box, image, name } = weaponCard({
  rarity: weapon.rarity,
});
---

<div class:list={[base(), className]} style={vars}>
  <div class={outline()}></div>
  <div class={box()}>
    <img src={icon} class={image()} />
    <h2 class={name()}>
      {weapon.name}
    </h2>
  </div>
</div>
