---
import Corner from "./Corner.astro";
import { tv } from "tailwind-variants";
const { class: className } = Astro.props;

const border = tv({
  slots: {
    yline:
      "absolute inset-[0.35rem] inset-x-[1.1rem] z-11 border-y-1 border-(--cardAccent) @5xs:inset-[0.6rem] @5xs:inset-x-6 @5xs:border-y-2",
    hline:
      "absolute inset-[0.35rem] inset-y-[1.1rem] z-11 border-x-1 border-(--cardAccent) @5xs:inset-[0.6rem] @5xs:inset-y-6 @5xs:border-x-2",
    star: "text-[0.4rem] @5xs:text-[0.5rem]",
    curve: "border-1 @5xs:border-2",
    corner: "w-6 @5xs:w-8",
    nw: "top-[0.35rem] left-[0.35rem] @5xs:top-[0.6rem] @5xs:left-[0.6rem]",
    ne: "top-[0.35rem] right-[0.35rem] scale-x-[-1] @5xs:top-[0.6rem] @5xs:right-[0.6rem]",
    se: "right-[0.35rem] bottom-[0.35rem] scale-x-[-1] scale-y-[-1] @5xs:right-[0.6rem] @5xs:bottom-[0.6rem]",
    sw: "bottom-[0.35rem] left-[0.35rem] scale-y-[-1] @5xs:bottom-[0.6rem] @5xs:left-[0.6rem]",
  },
  variants: {
    size: {
      sm: {},
    },
  },
});

const { yline, hline, star, curve, corner, nw, ne, se, sw } = border({
  size: "sm",
});
---

<div class:list={["@container absolute inset-0", className]}>
  <Corner class:list={[nw(), corner()]} star={star()} curve={curve()} />
  <Corner class:list={[ne(), corner()]} star={star()} curve={curve()} />
  <Corner class:list={[se(), corner()]} star={star()} curve={curve()} />
  <Corner class:list={[sw(), corner()]} star={star()} curve={curve()} />
  <div class={yline()}></div>
  <div class={hline()}></div>
</div>
