---
import directus from "$services/directus";
import { readItems } from "@directus/sdk";
import { PUBLIC_VE_TOKEN } from "astro:env/client";

const games = await directus.request(readItems("games", { fields: ["*"] }));
const { baseURL } = Astro.props;

const route = (url: string) => {
  if (
    Astro.url.searchParams.has("visual-editing", "true") &&
    Astro.url.searchParams.has("token", PUBLIC_VE_TOKEN)
  ) {
    const search = new URLSearchParams({
      "visual-editing": "true",
      token: PUBLIC_VE_TOKEN,
    });
    return url + "?" + search.toString();
  } else {
    return url;
  }
};

const links = games.map((g) => ({
  name: g.name,
  url: route(`${baseURL}${g.id}`),
}));
---

<div
  class="sticky z-30 top-0 flex w-full bg-dark playfair-display-sc-bold text-light p-4 justify-between"
>
  <a href={baseURL} class="flex gap-4">
    <i class="ri-newspaper-fill text-accent-gold-200 text-lg"></i>
    <span class="text-lg font-heading font-bold font-title">The Daily Drip</span
    >
  </a>
  <div class="flex gap-4">
    <button class="questions lg:hidden">
      <i class="ri-question-line"></i>
    </button>
    <button class="settings lg:hidden">
      <i class="ri-settings-4-line"></i>
    </button>
    <button class="hamburger w-fit lg:hidden">
      <i class="ri-menu-line text-lg"></i>
    </button>
  </div>

  <div
    class="hidden lg:flex list-none text-light gap-6 text-sm items-center font-heading font-bold"
  >
    {
      links.map((link) => (
        <a href={link.url} class="hover:text-accent-gold-200">
          {link.name}
        </a>
      ))
    }

    <!-- <a href={baseURL+'/calendar'} >Calendar</a> -->
    <!-- <li>Archive</li> -->
    <button
      class="questions_gear pointer-cursor z-20 hover:cursor-pointer hover:text-accent-gold-200"
    >
      <i class="ri-question-line"></i>
    </button>
    <button
      class="settings_gear pointer-cursor z-20 hover:cursor-pointer hover:text-accent-gold-200"
    >
      <i class="ri-settings-4-line"></i>
    </button>
  </div>
</div>
<div
  class="nav-links z-20 fixed top-0 flex w-full bg-dark h-0 min-h-full [transform:translate(100%,0)] transition-all flex-col p-16 py-24 list-none text-light gap-4 text-lg items-center font-heading font-bold lg:hidden"
>
  {
    games.map((g) => (
      <a class="p-3" href={route(`${baseURL}${g.id}`)}>
        {g.name}
      </a>
    ))
  }
</div>
