---
import VersionHeader from "./version-header.astro";
import { Block } from "$components/ui/blocks";

import directus from "$services/directus";
import { readItem, type Query } from "@directus/sdk";
import type { Schema, Version } from "$types/collection";

let { vId } = Astro.props;

let version = await directus.request(
  readItem("versions", vId, {
    fields: [
      "id",
      { game: ["*"] },
      "semVer",
      "name",
      { grid: ["vars"] },
      {
        events: [
          "*",
          // fetaured_characters
          {
            featured_characters: [
              "id",
              "spec",
              // character_id
              {
                characters_id: [
                  "*",
                  { splash_art: ["*"] },
                  { splash_pad: ["*"] },
                  { events: [{ events_id: ["id", "startDate"] }] },
                  {
                    signature: ["*"],
                  },
                ],
              },
            ],
          },
          // featured_weapons
          {
            featured_weapons: [
              // weapons_id
              {
                weapons_id: ["*"],
              },
            ],
          },
          // layout
          {
            layout: [
              "*",
              {
                blocks: ["*.*"],
              },
            ],
          },
        ],
      },
    ],
  } as Query<Schema, Version>)
);

const style = version.grid.vars
  .map((x) => ({
    [`--${x.size}_rows`]: x.rows,
    [`--${x.size}_cols`]: x.cols,
  }))
  .reduce((p, c) => Object.assign(p, c), {});
---

<section
  class="@container w-full flex flex-col gap-2 bg-white p-2 sm:p-4 shadow-md max-w-7xl"
  style={style}
>
  <VersionHeader {version} game={version.game} />

  <div
    class="grid grid-rows-(--sm_rows) grid-cols-(--sm_cols) md:grid-rows-(--md_rows) md:grid-cols-(--md_cols) gap-3"
  >
    {
      version.events!.map((event: any) => {
        const { layout, ...rest } = event;
        let item = structuredClone(layout);
        item.event = rest;
        item.game = version.game;
        return <Block {item} />;
      })
    }
  </div>
</section>
